<html>
	<title>Iosif Stalin Home Page</title>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="blueprint-css-master/blueprint/screen.css" type="text/css" media="screen, projection">
  		<link rel="stylesheet" href="blueprint-css-master/blueprint/print.css" type="text/css" media="print"> 
  		<link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css'>
  		<link href='http://fonts.googleapis.com/css?family=Medula+One' rel='stylesheet' type='text/css'>
  		<!--[if lt IE 8]>
    		<link rel="stylesheet" href="blueprint-css-master/blueprint/ie.css" type="text/css" media="screen, projection">
  		<![endif]--> 
		<style>
			.container
			{
				
			
			}
			h1
			{
				color: black;
				font-family: 'Swanky and Moo Moo', cursive;
			}
			h3
			{
				color: black;
				font-family: 'Medula One', cursive;
			}
			p 
			{
				color: black;
				font-family: 'Swanky and Moo Moo', cursive;
			}
			
		</style>
	</head>
	<body style="background: url(img/iosif.jpg) no-repeat top left; background-color: white;">
		<div class="container">
			<div class="span-24">
				<h1 style='text-align: center'>Iosif Stalin Home Page</h1>
			</div>
			<div class="span-20">
				&nbsp;
			</div>
			<div class="span-4 last">
				
			<div class="span-24">
				<h3 style='text-align: center'></h3>
			</div>
			
		</div>
	</body>
</html>
