<html>
	<title>Iosif Stalin Home Page</title>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="blueprint-css-master/blueprint/screen.css" type="text/css" media="screen, projection">
  		<link rel="stylesheet" href="blueprint-css-master/blueprint/print.css" type="text/css" media="print"> 
  		<link href='http://fonts.googleapis.com/css?family=Stalinist+One' rel='stylesheet' type='text/css'>
  		<link href='http://fonts.googleapis.com/css?family=Medula+One' rel='stylesheet' type='text/css'>
  		<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  		<!--[if lt IE 8]>
    		<link rel="stylesheet" href="blueprint-css-master/blueprint/ie.css" type="text/css" media="screen, projection">
  		<![endif]--> 
		<style>
			.container
			{
				
			
			}
			h1
			{
				color: black;
				font-family: 'Stalinist One', cursive;
			}
			h3
			{
				color: black;
				font-family: 'Russo One', sans-serif;
			}

			p
			{
				font-family: 'Tahoma', cursive;	
			}
			
		</style>
	</head>
	<body style="background-color: c1bfbf;">
		<p>
		<p>
		<div class="container" style="background-color: d1d1d1; border: solid 3px silver;">
			<div class="span-3">
				<h3 style='text-align: center; font-size: 30px;'><%= @putin_votes %>&nbsp;</h3>
			</div>
			<div class="span-18">
				<h1 style="font-size: 45px; text-align: center; color: 414141">STALIN VERSUS PUTIN</h1>
				<br><br>
					<h3 style='text-align: center; font-size: 30px;'><%= @msg %>&nbsp;</h3>
				<br><br>
			</div>
			<div class="span-3 last">
				<h3 style='text-align: center; font-size: 30px;'><%= @stalin_votes %>&nbsp;</h3>
			</div>			

			<div class="span-9">
				<img src="img/putin.jpg">
			</div>

			<div class="span-6">
				<h1 style="font-size: 70px; text-align: center; color: red; vertical-align: middle"> VS </h1>
			</div>
			<div class="span-9 last">
				<img src="img/stalin.jpg">
			</div>

			<div class="span-9">
				<div align='center'>
					<a href='За_батьку_нашего_Путина!' style="font: Verdana"><img src="img/za_putina.png"></a>
				</div>
			</div>
			<div class="span-6">
				<h1 style="font-size: 70px; text-align: center; color: red; vertical-align: middle"> </h1>
			</div>
			<div class="span-9 last">
				<div align='center'>
					<a href='За_батьку_нашего_Сталина!' style="font: Verdana"><img src="img/za_stalina.png"></a>
				</div>
			</div>

			<div class="span-24">
				<h3 style='text-align: center; font-size: 40px;'>FIGHT!!!</h3>
			</div>
			<div class="span-24">
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			</div>			
		</div>
	</body>
</html>
